<div ng-controller="About">
<div id="aContainer">

	<div id="aAbout">
	<h1>About</h1>
	<p>At Lineage Tree Care, it is our primary objective to make your experience as pleasant as possible. Our staff are friendly people who take the time to create a positive work environment and ensure the most quality experience. We believe having people, you can trust should be a top priority, because it ensures that every project will be completed correctly.</p>
	</div>
	<div id="aComp">
		<div id="aPic">
			<img src="http://i.imgur.com/08MF0z5.jpg" id="aboutPic" class="img-responsive">

		</div>

		<div id="aDesc"> 
			<p>Our company was established in the small rustic town of Snohomish; many of our values and the principles we live by were influenced by the people who live here. We believe that it is our responsibility to give back to our community as it has done so for us; not only through donations, but also in the presence that we leave behind.</p>

			<p>As opposed to many of the larger corporations, we are able to deliver a more personal touch simply because we maintain a closer relationship with our crews and our customers. By choosing to work with us, you choose to have your project worked on by people who are more closely involved. We treat each project as its own and do not leave until the customer is fully satisfied with our work.</p>
		</div>
	</div>

</div>
</div>