<div ng-controller="Home">
<div id="pContainer">


	<div id="hBanner">	

	</div>
	<div id="hContainer" class="container">
	<div class="row">
  	<div class="col-md-8">
		<div id="hWelcome" class="hSec">
		<h1>Welcome
		</h1>
		<p>
			At Lineage Tree Care, we change the world one tree at a time. We believe that delivering quality in our principals and our workmanship is what sets the way for generations to come. We demonstrate prowess in our trade and deliver outstanding quality, which is the experience you can expect from us time after time.
		</p>
		</div>

		<div id="about">
		<div class="hSec">
		<p>
			When choosing a tree care and service provider it is important to be in business with a company you can trust. Here at Lineage Tree Care, you work directly with people who love what they do. It is an enjoyable well thought through experience from start to finish and the work we do speaks for itself.
		</p>
		</div>
		<div class="hSec">
		<p>
			Tree work is an extremely rigorous field that requires extensive training, discipline and knowledge before undergoing any project. To help minimize risk and ensure safety, our crews are always training, staying current with the most state of the art approaches and techniques.
		</p>
		</div>
		</div>
	</div>
	<div class="col-md-4">
		<div id="hService" >
			
			<div class="ServCol">
				<div class="Serv hSec">
				<img src="http://i.imgur.com/9TKRXxH.jpg" class="img-responsive">
				tree trimming
				</div>

				<div class="Serv hSec">
				<img src="http://i.imgur.com/Y2J6T4N.jpg" class="img-responsive">
				tree removal
				</div>

				<div class="Serv hSec">
				<img src="http://i.imgur.com/oN2Itox.jpg" class="img-responsive">
				storm clean up
				</div>
			</div>
			

		</div>

	</div>
	</div>
	</div>



</div>
</div>