<div ng-controller="About">
<div id="aContainer">

	<div class="aAbout">
		<h1>Services</h1>
		<p>Proper Tree Care is a wise investment and administers peace of mind. Trees are wonders of nature that bestows life, beauty and value to any home when properly cared for. If not properly cared for however, they can withhold value and become stressful and worrisome to neighboring life forms. At Lineage Tree Care we can helps identify ways to maintain the health of living trees and provide a safe and practical process for removal when a tree has become a danger to its environment.</p>
	</div>

	<div id="sList" class="container">
		<div class="row">
			<div class="col-md-6 servBox">
			<img src="http://imgur.com/m8s1eln.jpg" class="img-responsive">
			<div class="servTitle"><h1>Tree Removals</h1></div>
			<p>Often times a tree that is near or encroaching a building, power lines etc, cannot be fallen and must be climbed and carefully removed. Lineage Tree Care is equipped with an experienced crew of climbers and grounds men.</p>
			<p>We utilize our training and special rigging gear to climb carefully and section down these individual trees. Every Tree is a different approach and we take care to ensure the safety of surrounding trees and objects where necessary.</p>
			</div>

			<div class="col-md-6 servBox">
			<img src="http://imgur.com/AV3KOmM.jpg" class="img-responsive">
			<div class="servTitle"><h1>Tree Trimming</h1></div>
			<p>There are many reasons to provide trimming to a living tree. Removing dead limbs will help maintain the general health, reduce stress to the trunk and prevents them from coming down unexpectedly. We also offer wind-sail reduction techniques to prepare for heavy wind storms. Often times it can be aesthetically pleasing to remove the first few limbs on a tree. This creates a cleaner look and provides more vertical space so that surrounding life forms can be appreciated.</p>
			</div>

		</div>

		<div class="row">
			<div class="col-md-6 servBox">
			<img src="http://i.imgur.com/UVmZr8b.png" class="img-responsive">
			<div class="servTitle"><h1>Storm Clean up</h1></div>
			<p>When disaster strikes we have the man power to strike back. We get you up and running again and restore your property to its original state. We can handle fallen trees of all sizes, downed limbs and the removal of widow makers. With a high standard of quality, we provide an extensive clean up that will have your yard looking at its very best.</p>
			</div>

			<div class="col-md-6 servBox">
			<img src="http://imgur.com/uMTKanm.jpg" class="img-responsive">
			<div class="servTitle"><h1>View Clearing</h1></div>
			<p>With the beauty that the Puget Sound region has to offer, we can provide clearance that will make way for magnificent views such as the cascade and Olympic Mountains and many other works of nature that we have been blessed with.</p>
			</div>

		</div>

	</div>

</div>
</div>