
body {
	background-image: url("http://i.imgur.com/Rk1wJnO.jpg");
	background-size: auto;
	font-family: 'Rye', cursive;
}

#titleHead {
	position: relative;
	max-width: 980px;
	margin: 0 auto;
	height: 8em;
	text-align: center;
	z-index: 2;

}

.img-circle {
	border-radius: 50%;
}

#logo {
	float: left;
	height: 200%;
	
}

#siteTitle {
color: white;
	
	  text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;

}

.container-nav {
	margin-top: -10px;
}

.navbar {
	position: relative;
	background-color: #86572A;
	opacity: .9;
	font-size: 1em;
	height: 60px;
	border: #86572A;
	max-width: 980px;
	margin: 0 auto;
	padding-top: 1em;
	z-index: 0;
	
}

.navbar .nav  li  a {
	color: white;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none !important;
  vertical-align: top;
}

.navbar .navbar-collapse {
	background-color: #86572A;
	opacity: 0.9;
	font-size: 1.5em;
  	text-align: center;
}

#pContainer {
	max-width: 980px;
	width: 90%;
	/*background-color: #76410E;*/
	opacity: 1;
	margin: 0 auto;
	margin-top: 60px;
}

#hContainer {
	max-width: 980px;
}

.hSec {
	border-radius: 5%;
	opacity: 1.0;
	background-color:#2a261e;
	padding: 1em 1em;
	margin-top: 1em;
	text-align: center;
	color: white;
	
	  text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;
}

#hPhone {
	border-radius: 5%;
	background-color:#2a261e;
	max-height: 70vh;
	min-height: 15em;
	max-width: 100%;
	width: 20em;	
	text-align: center;
	margin: 0 auto;
	padding-top: 0em;
	display: flex;
	flex-direction: column;
	margin-top: 1em;

	color: white;
	
	  text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;
}

#hWelcome {
	max-height: 70vh;
	min-height: 10em;
	padding-top: .5em;
}



#hBanner {
	background-image: url("http://i.imgur.com/23lg9wm.jpg");
	background-size: cover;
	background-position: 50%;
	max-width: 980px;
	width: 100%;
	height: 338px;
}

.homeAdvisorBadge {
	position: relative;
	left: 75%;
	top: 15%;
}

.ServCol {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.Serv {
	margin-bottom: .5em;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}

#about {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#about .hSec {
	margin-left: 1em;
	margin-right: 1em;
}


#aContainer {
	background-color: #C7B4A1;
	
	max-width: 980px;
	width: 90%;
	/*background-color: #76410E;*/
	opacity: 1;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 3em;
	padding: 1em;
}

.aAbout {

	width: 90%;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: .5em;
	background-color: #2a261e;

	color: white;
	
	  text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;


}

.aAbout p {
	margin-left: 1em;
}

#aComp {
	display: flex;
	flex-direction: row;

}

#aboutPic {
	max-width: 364px;
	width: 80vw;
}

#aDesc {
	padding: 1em;
}

.container {
	width: 100%;
}

.servBox {
	text-align: center;
}

.servBox img {
	margin: 0 auto;
	max-height: 251px;
}

.servTitle {
	background-color: #2a261e;

	color: white;
	
	  text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;
}

#contactSec {
	text-align: center;
}

#thankYou {
	height: 60vh;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	background-color: #2a261e;

	color: white;
	
	  text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;

}

.lanContent {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: .5em;
}

.lanContent p {
	padding: .5em;
}

.lContainer {
	margin-bottom: 2em;
}

.deskPhone {
		display: block;
	}

.mobilePhone {
		display: none;
	}

@media only screen and (max-width: 885px) {

	.deskPhone {
		display: none;
	}

	.mobilePhone {
		display: block;
	}

	#logo {
		margin: 0 auto;
		float: none;
	}

	#aAbout {
		display: block;
	}

	.navbar {
		z-index: 3;
	}

	#aComp {
		display: block;
	}

	#aboutPic {
		margin: 0 auto;
	}

	.lanConHeader {
		text-align: center;
	}

}


