<div ng-controller="Landing">
<div id="aContainer">

<div class="lContainer container">
	<h1>Storm Clean Up</h1>
	<div class="row">
  	<div class="col-md-4">
  		<div id="hPhone">
  		<h3>Free Estimates!</h3>
  		<h1>Call Now</h1>
  		<h3>1-425-296-8120</h3>
  		</div>
  	</div>

	  	<div class="col-md-8">
				<h2>Send us a Message</h2>
					<form  class="emailForm">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									
									<input class="form-control" data-ng-model="InputName" placeholder="Name">
								</div>
								<div class="form-group">
									
									<input class="form-control" data-ng-model="InputPhone" placeholder="Phone">
								</div>
								<div class="form-group">
									
									<input class="form-control" data-ng-model="InputEmail" placeholder="Email">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								<textarea class="form-control" data-ng-model="InputMessage" rows="6">{{InputMessage}}</textarea>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-default" ng-click="sendMail()">Submit</button>
					</div>

				</form>
		</div>
  	</div>
</div>
<hr>
<div class="lanConHeader"><h2>The Lineage Service</h2></div>
<div class="lanContent container">	
<div class="row">
	<div class="col-md-4">
		<img src="http://i.imgur.com/UVmZr8b.png" class="img-responsive">
	</div>
	<div class="col-md-4">
	<p>When disaster strikes we have the man power to strike back. We get you up and running again and restore your property to its original state. We can handle fallen trees of all sizes, downed limbs and the removal of widow makers. With a high standard of quality, we provide an extensive clean up that will have your yard looking at its very best.</p>
	</div>
	<div class="col-md-4">
	
	</div>
</div>
</div>

</div>
</div>